@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "LexendDeca";
  src: url("/fonts/LexendDeca-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "LexendDeca";
  src: url("/fonts/LexendDeca-Bold.ttf");
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: LexendDeca, Roboto, Oxygen,
    Ubuntu, Helvetica Neue, sans-serif;
}

h1, h2, h3, h4 {
  font-family: LexendDeca;
  font-weight: 700;
}

p {
  font-family: LexendDeca;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
